<h2>Add Product</h2>
<hr />

<form [formGroup]="form" (ngSubmit)="addProduct()" class="col-8 offset-2 mb-5">
  <div class="form-group">
    <label>
      <strong>Product Name</strong>
    </label>
    <input formControlName="name" type="text" class="form-control" placeholder="Enter Product Name" />
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">Name is Required</div>
  </div>

  <div class="form-group">
    <label>
      <strong>Description</strong>
    </label>
    <textarea formControlName="description" type="text" class="form-control" placeholder="Enter Description"></textarea>
    <div class="alert alert-danger" *ngIf="description.touched && description.invalid">Description is Required</div>
  </div>

  <div class="form-group">
    <label>
      <strong>Select A Category</strong>
    </label>
    <select class="form-control" formControlName="category">
      <option value="">Select A Category</option>
      <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="category.touched && category.invalid">Category is Required</div>
  </div>

  <div class="form-group">
    <label>
      <strong>Price</strong>
    </label>
    <input formControlName="price" type="number" class="form-control" placeholder="Enter Price" />
    <div class="alert alert-danger" *ngIf="price.touched && price.invalid">Price is Required</div>
  </div>

  <div class="form-group">
    <label>
      <strong>Price Negotiable</strong>
    </label>
    <select class="form-control" formControlName="negotiable">
      <option value="yes">YES</option>
      <option value="no">NO</option>
    </select>
  </div>

  <label>
    <strong>Select Product Image</strong>
  </label>
  <div class="custom-file mb-3">
    <input type="file" class="custom-file-input" id="customFile" (change)="imageLoaded($event)" />
    <label class="custom-file-label" htmlFor="customFile">Choose file</label>
  </div>

  <img width="150" [src]="bannerImage" alt="" />

  <div class="form-group mt-4">
    <label>
      <strong>Contact Number</strong>
    </label>
    <input formControlName="contact" type="number" class="form-control" placeholder="Enter Contact Info" />
    <div class="alert alert-danger" *ngIf="contact.touched && contact.invalid">Contact is Required</div>
  </div>

  <div class="form-group">
    <label>
      <strong>Address</strong>
    </label>
    <input formControlName="address" type="text" class="form-control" placeholder="Enter Address" />
    <div class="alert alert-danger" *ngIf="address.touched && address.invalid">Address is Required</div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    <i class="fa fa-plus mr-2"></i>Add Product</button>
</form>