<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 wrapper" style="border-bottom: 1px solid #e5e5e5">
  <h1 class="h2">All Products</h1>
</div>

<div class="row">
  <div class="col-md-3" *ngFor="let product of products">
    <product-item [product]="product"></product-item>
  </div>
</div>
