<div class="body d-flex justify-content-center align-items-center">
  <form [formGroup]="form" class="card form-signin" (ngSubmit)="login()">

    <h1 class="h3 mb-3 font-weight-bold text-center">Sign In</h1>
    <hr />

    <div class="form-group">
      <label class="sr-only">Email address</label>
      <input formControlName="email" type="email" class="form-control" placeholder="Email address" name="email" />
      <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
        <div *ngIf="email.errors.required">Email is Required</div>
        <div *ngIf="email.errors.email">Invalid Email Pattern</div>
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only">Password</label>
      <input formControlName="password" type="password" class="form-control" placeholder="Password" name="password" />
      <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
        <div *ngIf="password.errors.required">Password is Required</div>
        <div *ngIf="password.errors.minlength">Password should be minumum {{ password.errors.minlength.requiredLength }} characters</div>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="form.invalid || loading">{{loading ? 'Signing In ...': 'Sign In'}}</button>
    <p class="mt-4 text-center font-weight-light">Not Registered?
      <a routerLink="/register">Register Here</a>
    </p>
  </form>
</div>
