<div class="mt-4">
  <h2 class="mt-4">My Products: {{ products ? products.length: 0 }}</h2>
  <br />
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Product Name</th>
          <th class="text-center">Image</th>
          <th class="text-center">Posted Date</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td class="align-middle text-center">{{i + 1}}</td>
          <td class="align-middle">{{product.name}}</td>
          <td class="align-middle text-center">
            <img src='http://localhost:5100/uploads/{{product.productImage}}/100' alt="" />
          </td>
          <td class="align-middle text-center">
            {{product.createdAt | amDateFormat:'LL'}}
          </td>
          <td class="align-middle text-center">
            <!-- <a class="btn btn-sm btn-info mr-2" routerLink="/dashboard/product/{{product._id}}/edit">
              <i class="fa fa-no fa-edit"></i>
            </a> -->
            <button class="btn btn-sm btn-danger" (click)="handleDeleteProduct(product)">
              <i class="fa fa-no fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
