<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 wrapper" style="border-bottom: 1px solid #e5e5e5">
  <h1 class="h2 text-capitalize">Category: {{name}}</h1>
</div>

<div class="row" *ngIf="products; else other_content">
  <div class="col-md-3" *ngFor="let product of products">
    <product-item [product]="product"></product-item>
  </div>
</div>

<ng-template #other_content>
  <div class="pt-5">
    <h1 class="text-center">¯\(°_o)/¯</h1>
    <h2 class="text-center">No Products</h2>
  </div>
</ng-template>
