<div class="card mb-4 box-shadow">
  <a routerLink="/products/{{product._id}}">
    <div class="img-container">
      <img class="p-2" alt="" src="http://localhost:5100/uploads/{{product.productImage}}/200" style="max-height: 200px" />
    </div>
  </a>
  <span class="d-flex justify-content-end bg-dark text-light pr-4 py-2">Rs. {{product.price}}</span>
  <div class="card-body">
    <a class="text-dark" routerLink="/products/{{product._id}}">
      <h4 class="card-title">{{product.name}}</h4>
    </a>
    <small class="text-muted">
      <strong>Posted On:&nbsp;</strong>
      {{product.createdAt | amDateFormat:'LL'}}
    </small>
    <p>
      <small class="text-muted">
        <strong>Posted By:&nbsp;</strong>{{product.userId.name || product.userId.email}}</small>
    </p>
  </div>
</div>
