<nav>
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/products" [routerLinkActiveOptions]="{exact:
          true}">
          <span data-feather="home"></span>
          All Products
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>POPULAR CATEGORIES</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <hr />
    <ul class="nav flex-column mb-2">
      <li class="nav-item" *ngFor="let category of categories">
        <a class="nav-link pointer text-capitalize" routerLinkActive="active" routerLink="/category/{{category._id}}">
          {{ category.name }}
        </a>
      </li>
    </ul>
  </div>
</nav>
