<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 wrapper" style="border-bottom: 1px solid #e5e5e5">
  <h1 class="h2">Product Detail</h1>
</div>

<div class="row">
  <div class="col-4 card ml-3">
    <img src="http://localhost:5100/uploads/{{product.productImage}}/400" [alt]="product.name" />
  </div>
  <div class="col-6 ml-4">
    <h2>{{product.name}}</h2>
    <span class="badge badge-info">{{product.category.name}}</span>
    <hr />
    <p><b>Description: </b> {{product.description}}</p>
    <p><b>Price: </b> Rs. {{product.price}}</p>
    <p><b>Contact: </b> {{product.contact}}</p>
    <p><b>Address: </b> {{product.address}}</p>
  </div>
</div>
