<header class="fixed-top" style="box-shadow: rgb(204, 204, 204) 2px 2px 10px 0px">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top p-0">
    <a class="navbar-brand d-flex justify-content-center ptb-5 col-sm-3 col-md-2 mr-0" routerLink="/">{{ title }}</a>
    <form [formGroup]="form" class="w-100" (ngSubmit)="searchProduct()">
      <input
        formControlName="search" 
        class="form-control" 
        type="text" 
        placeholder="Search For Product ..." 
        style="box-shadow: none;">
    </form>
    <ul class="navbar-nav mr-auto px-3">
      <li *ngIf="!authService.authState" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="authService.authState" class="nav-item dropdown" ngbDropdown>
        <a ngbDropdownToggle class="nav-link text-nowrap dropdown-toggle pointer" id="dropdown01" data-toggle="dropdown">Rubin Bajracharya &nbsp;</a>
        <div ngbDropdownMenu class="dropdown-menu" style="border-radius: 0;">
          <a class="dropdown-item" routerLink="/dashboard">Dashboard</a>
          <a class="dropdown-item pointer" (click)="authService.logout()">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
</header>
