.navbar-brand {
  padding-top: .55rem;
  padding-bottom: .55rem;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.box-shadow-nav {
  box-shadow: 2px 2px 10px 0px #ccc;
}

.ptb-05 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
