<h2>Add Category</h2>
<hr />

<form [formGroup]="form" (ngSubmit)="handleAddCategory()" class="form-inline">
  <div class="form-group">
    <label>
      <strong>Category Name</strong>
    </label>
    <input formControlName="name" type="text" class="form-control ml-2" placeholder="Category Name" />
  </div>
  <button type="submit" class="btn btn-primary ml-4" [disabled]="form.invalid">
    <i class="fa fa-plus"></i>Add Category</button>
</form>
