<bsnav></bsnav>

<div class="container-fluid" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-2 d-none d-md-block bg-light sidebar p-0">
      <sidebar></sidebar>
    </div>

    <div role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
