<h2>Dash Summary</h2>
<br />
<div class="row">
  <div class="col-6">
    <a class="d-flex justify-content-end" routerLink="/dashboard/product">View All</a>
    <table class="table table-hover table-striped">
      <thead class="table-secondary">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Name</th>
          <th class="text-center">Added On</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td class="text-center">{{i + 1}}</td>
          <td class="text-center">{{product.name}}</td>
          <td class="text-center">{{product.createdAt | amDateFormat:'LL'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-5 offset-1">
    <a class="d-flex justify-content-end" routerLink="/dashboard/category">View All</a>
    <table class="table table-hover table-striped">
      <thead class="table-secondary">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; let i = index">
          <td class="text-center">{{i + 1}}</td>
          <td class="text-center">{{category.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
