<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Category: {{categoryToEdit.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <input formControlName="categ" type="text" class="form-control" placeholder="Enter New Category for ..." [value]="categoryToEdit.name">
      </div>
      <button type="button" class="btn btn-info d-flex pull-right" (click)="edit()" [disabled]="form.invalid">Edit</button>
    </form>
  </div>
</ng-template>

<h2>All Categories</h2>
<br />

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Category</th>
      <th *ngIf="admin === 'hakim'">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories; let i = index">
      <td>{{i + 1}}</td>
      <td>
        {{ category.name }}
      </td>
      <td *ngIf="admin === 'hakim'">
        <button class="btn btn-sm btn-info" (click)="open(content, category)">
          <i class="fa fa-edit mr-0"></i>
        </button>
        <button class="btn btn-sm btn-danger" (click)="handleDeleteCategory(category)">
          <i class="fa fa-trash mr-0"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>