<div class="body d-flex justify-content-center align-items-center">
  <form [formGroup]="form" (ngSubmit)="register()" class="card form-signin">
    <h1 class="h3 mb-3 font-weight-bold text-center">Register</h1>
    <hr />
    <div class="form-group">
      <label class="sr-only">Email address</label>
      <input formControlName="email" type="email" class="form-control" placeholder="Email address" />
      <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
        <div *ngIf="email.errors.required">Email is Required</div>
        <div *ngIf="email.errors.email">Invalid Email Pattern</div>
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only">Password</label>
      <input formControlName="password" type="password" class="form-control" placeholder="Password" required />
      <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
        <div *ngIf="password.errors.required">Password is Required</div>
        <div *ngIf="password.errors.minlength">Password should be minumum {{ password.errors.minlength.requiredLength }} characters</div>
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="form.invalid || loading">{{loading ? 'Registering ...': 'Register'}}</button>
    <p class="mt-4 text-center font-weight-light">Already A Member?
      <a routerLink="/login">Login Here</a>
    </p>
  </form>
</div>