<add-category *ngIf="admin === 'hakim'" (addCategory)="addCategory($event)"></add-category>
<hr />

<dash-categories [categories]="categories" (deleteCategory)="deleteCategory($event)" (editCategory)="editCategory($event)"></dash-categories>
