<header class="fixed-top" style="box-shadow: rgb(204, 204, 204) 2px 2px 10px 0px">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top p-0">
    <a class="navbar-brand px-3 text-light" routerLinkActive="active" routerLink="/dashboard">FM DASHBOARD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" routerLink="/">
          <i class="fa fa-home"></i>
        </a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/dashboard/product" [routerLinkActiveOptions]="{exact:
          true}">Products</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/dashboard/category" [routerLinkActiveOptions]="{exact:
          true}">Categories</a>
      </div>
      <div class="navbar-nav px-3">
        <a class="nav-item nav-link pointer" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>
</header>